@font-face {
    font-family: KosugiMaru;
    src: url(../fonts/KosugiMaru-Regular.ttf) format("truetype");
}

@font-face {
    font-family: KosugiMaru4IE;
    src: url(../fonts/KosugiMaru-Regular.eot)
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: OpenSans4IE;
    src: url(../fonts/OpenSans-Regular.eot)
}

body {
    font-family: 'OpenSans', 'OpenSans4IE', 'KosugiMaru', 'KosugiMaru4IE', 'HG丸ｺﾞｼｯｸM-PRO';
    font-weight: 400;
    transform: rotate(0.001deg);
}

.gi-2x {
    font-size: 25px !important;
}

.gi-5x {
    font-size: 100px !important;
}